*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 5px;
    padding: 5px;
}
.board-cell{
    border: 2px solid saddlebrown;
}
button{
    border:none;
    background-color: brown;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}